<head>
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">
</head>


<body>
  <div class="d-flex" id="content-wrapper">

    <div class="w-100">
      <!-- Contenido de la pagina -->

      <div id="content" class="bg-grey w-100">
        <section class="bg-light py-3">
          <div class="container">
            <div class="row">
              <div class="col-lg-9 col-md-8">
                <h1 class="font-weight-bold mb-0">Administra tus Productos por sucursales</h1>
                <p class="lead text-muted">Revisa tus productos, recuerda que puedes venderlos!!</p>
              </div>

              <div class="col-lg-3 col-md-4 d-flex">
                <button class="btn btn-primary w-100 align-self-center" routerLink="/usuario/sucursales">Regresar Productos</button>

              </div>

            </div>
          </div>
        </section>

        <!--Busquedas producto-->
        <div class="container">
          <input [(ngModel)]="buscarProducto" class="px-2 search justify-content-center" type="search" placeholder="Buscar Por Nombre" aria-label="Search">
          <button type="button" class="btn btn-primary position-relative" (click)="getProductoStockMayorSucursal(productosModelGet.idSurcursal)">
            Ordenar por mayor stock
          </button>
          <button type="button" class="btn btn-primary position-relative " >
            Ordenar por menor stock
          </button>
        </div>

        <!-- Mostar Sucursales -->
        <section class="bg-mix py-3">
          <div class="container">
            <div class="card rounded-0">
              <div class="card-body" *ngFor="let su of productosModelGet | nombreProductoSucursal:buscarProducto">
                <!-- Cifras -->
                <section class="bg-mix py-3">
                  <div class="container">
                    <div class="card rounded-0">
                      <div class="card-body">
                        <div class="row">

                          <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                              <h6 class="text-muted">Nombre Producto</h6>
                              <h3 class="font-weight-bold">{{su.NombreProductoSucursal}}</h3>
                            </div>
                          </div>

                          <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                              <h6 class="text-muted">Stock</h6>
                              <h3 class="font-weight-bold">{{su.StockSurcursal}}</h3>
                            </div>
                          </div>

                          <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                              <h6 class="text-muted">Cantidad Vendida</h6>
                              <h3 class="font-weight-bold">{{su.CantidadVendida}}</h3>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-4 d-flex">

                            <button type="button" class="btn btn-warning" data-bs-toggle="offcanvas"
                              data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
                              (click)="getProductosSucursalesId(su._id)">
                              Venta
                            </button>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <!-- Fin Contenido de la pagina -->
        </section>
      </div>
    </div>


  </div>



</body>

<!-- OffCanvas Venta-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Realizar una Venta</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>

      <div class="mb-3">
        <label for="inputNombreProductoSucursal" class="form-label">Nombre del Producto</label>
        <input type="text" class="form-control" id="inputNombreProductoSucursal" name="NombreProductoSucursal" #NombreProductoSucursal="ngModel"
          [(ngModel)]="productosSucursalesModelGetId.NombreProductoSucursal"
          >
      </div>
      <div class="mb-3">
        <label for="inputCan" class="form-label">Cantidad a Vender</label>
        <input type="number" class="form-control" id="inputCan" name="StockSurcursal" #StockSurcursal="ngModel"
        [(ngModel)]="productosSucursalesModelGetId.StockSurcursal">
      </div>


      <button type="submit" class="btn btn-success"  data-bs-dismiss="offcanvas" (click)="putVenta()">Vender</button>
    </form>
  </div>
</div>
