<app-navbar></app-navbar>

<div class="page-wrap">
    <main class="page-main">
      <article>
        <div class="section">
          <div class="article-header">
            <h1>¡Bienvenido Empresario!</h1>
            <h2>Espero te encuentres bien</h2>
            <p>Este es un espacio en donde podra llevar el control de su empresa a lo largo del mundo.</p>
          </div>
        </div>
        <div class="section">
          <div class="article-content">
            <p class="caption">Herramientas de trabajo</p>
            <p>Podra llevar un control especifico sobre su empresa, es decir podra ver:</p>
            <p>*Las sucursales que podra ingresar a su empresa, con todos sus datos</p>
            <p>*Los productos que poseen esas sucursales en stock y una lista de los mismo</p>

            
          </div>
        </div>
      </article>
    </main>
    <footer class="page-footer">
      <div class="content">
        <nav>
          <div class="icon-container">
          </div>
        </nav>
      </div>
    </footer>
  </div>

