
<div class="nav">
  <input type="checkbox" id="nav-check" >
  <div class="nav-header">
    <div class="nav-title" routerLink="">
      Inicio
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span ></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a routerLink="/empresas2" *ngIf="_usuarioService.getIdentidad().rol === 'ROL_ADMIN'">Empresas</a>
    <a routerLink="/usuario/sucursales" *ngIf="_usuarioService.getIdentidad().rol === 'ROL_EMPRESA'">Sucursales</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/registrar">Registrar</a>
  </div>

  <div class="nav-linksI">
    <a routerLink="/login" (click)="VaciarToken()">Cerrar Sesión</a>
  </div>
</div>

