<!-- Navbar & Hero Start-->
<div class="nav">
  <div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
      <a href="index.html" class="navbar-brand p-0">
        <h1 class="m-0">Control Empresas
        </h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">

          <a routerLink="/admin/empresas2" *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_ADMIN'"
            class="nav-item nav-link ">Empresas</a>

          <a routerLink="/usuario/sucursales" *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_EMPRESA'"
            class="nav-item nav-link">Sucursales</a>

          <a routerLink="/usuario/editarUsuario" *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_EMPRESA'"
            class="nav-item nav-link">Editar Perfil</a>

          <a routerLink="/login" (click)="VaciarToken()" *ngIf="_usuarioService.getIdentidad()"
            class="nav-item nav-link">Cerrar Sesión</a>

        </div>
        <a class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5" routerLink="/registrar"
          *ngIf="!token">Registrar</a>
        <a class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5" routerLink="/login"
          *ngIf="!token">Login</a>
      </div>
    </nav>
  </div>
</div>
