::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1;
  /* Firefox */
}


#contenedor{
  margin-bottom: 12px;

}
contededor2{
  margin-bottom: 12px;
}

p a {

  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: #1a1c2c;
  text-decoration: none;
}


#registrar:hover {
  color: #ff0000;
  text-decoration: none;
}

#Acceder {
  background-color: #1a1c2c;
  color: #fff;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border-color: #1a1c2c;
}

#Email1 {
  background-color: #b1d0e0;
  border-radius: 5px;
  border-color: #6998ab;
  color: #fff;
}

#password1 {
  background-color: #b1d0e0;
  border-radius: 5px;
  border-color: #6998ab;
  color: #fff;
}



#content {
  height: 100vh;
  width:100%;
  padding-bottom: 5rem;
  overflow: hidden;
  position: relative;
  background-color: #1a1c2c;
  z-index: 0;
}


//burbujas

.burbuja {
  border-radius: 50%;
  background-color: #fff;
  opacity: .3;

  position: absolute;
  bottom: -150;
  z-index: -1;
  animation: burbujas 0s linear infinite;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 6s;

}

.burbuja:nth-child(2) {
  width: 80px;
  height: 80px;
  left: 10%;
  animation-duration: 2s;

}

.burbuja:nth-child(3) {
  width: 80px;
  height: 80px;
  left: 15%;
  animation-duration: 3s;

}

.burbuja:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 20%;

  animation-duration: 4s;

}


.burbuja:nth-child(5) {
  width: 80px;
  height: 80px;
  left: 75%;

  animation-duration: 5s;

}

.burbuja:nth-child(6) {
  width: 80px;
  height: 80px;
  left: 80%;

  animation-duration: 1s;

}
.burbuja:nth-child(7) {
  width: 80px;
  height: 80px;
  left: 85%;

  animation-duration: 2s;

}

.burbuja:nth-child(8) {
  width: 80px;
  height: 80px;
  left: 90%;

  animation-duration: 3s;

}

.burbuja:nth-child(9) {
  width: 150px;
  height: 150px;
  left: 40%;

  animation-duration: 4s;

}
.burbuja:nth-child(10) {
  width: 200px;
  height: 200px;
  left: 60%;

  animation-duration: 5s;

}

@keyframes burbujas {
  0% {
    bottom: 0;
    bottom: 0;
  }

  30% {
    transform: translate(30px)
  }

  50% {
    opacity: .4;
  }

  100% {
    bottom: 100vh;
    opacity: 0;
  }

}
