<app-navbar></app-navbar>

<head>
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="d-flex" id="content-wrapper">

    <div class="w-100">
      <!-- Contenido de la pagina -->

      <div id="content" class="bg-grey w-100">
        <section class="bg-light py-3">
          <div class="container">
            <div class="row">

              <div class="col-lg-9 col-md-8">
                <h1 class="font-weight-bold mb-0" *ngIf="_usuarioService.getIdentidad()">Bienvenido {{
                  _usuarioService.getIdentidad().nombre }} </h1>
                <p class="lead text-muted">Revisa tu información detallada</p>
              </div>





            </div>
          </div>
        </section>

        <!-- Mostar Sucursales -->
        <section class="bg-mix py-3">
          <div class="container">
            <div class="card rounded-0">
              <div class="card-body" *ngFor="let em of empresasModelGet">
                <!-- Cifras -->
                <section class="bg-mix py-3">
                  <div class="container">
                    <div class="card rounded-0">
                      <div class="card-body">
                        <div class="row">

                          <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                              <h6 class="text-muted">Nombre</h6>
                              <h3 class="font-weight-bold">{{em.nombre}}</h3>
                            </div>
                          </div>

                          <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                              <h6 class="text-muted">telefono</h6>
                              <h3 class="font-weight-bold">{{em.telefono}}</h3>
                            </div>
                          </div>

                          <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                              <h6 class="text-muted">direccion</h6>
                              <h3 class="font-weight-bold">{{em.direccion}}</h3>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                              <h6 class="text-muted">Tipo de Empresa</h6>
                              <h3 class="font-weight-bold">{{em.tipoEmpresa}}</h3>
                            </div>
                          </div>


                          <div class="col-lg-3 col-md-4 d-flex">
                            <button class="btn btn-primary w-100 align-self-center"
                              (click)="eliminarEmpresas(em._id)">Eliminar Empresa</button>
                          </div>
                          <div class="col-lg-3 col-md-4 d-flex">
                            <button type="button" class="btn btn-warning" data-bs-toggle="offcanvas"
                              data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
                              (click)="getEmpresasId(em._id)">Editar Empresa</button>
                          </div>
                          <div class="col-lg-3 col-md-4 d-flex">
                            <button class="btn btn-primary w-100 align-self-center"
                              [routerLink]="['/admin/sucursales/', em._id]">Ver Sucursales</button>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <!-- Fin Contenido de la pagina -->
        </section>
      </div>
    </div>


  </div>


</body>

<!-- OffCanvas Editar Producto -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar Usuario</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>

      <div class="mb-3">
        <label for="inputnombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputnombre" name="nombre" #nombre="ngModel"
          [(ngModel)]="empresasModelGetId.nombre">
      </div>
      <div class="mb-3">
        <label for="inputemail" class="form-label">email</label>
        <input type="text" class="form-control" id="inputemailr" name="email" #email="ngModel"
          [(ngModel)]="empresasModelGetId.email">
      </div>
      <div class="mb-3">
        <label for="inputtelefono" class="form-label">telefono</label>
        <input type="number" class="form-control" id="inputtelefono" name="telefono" #telefono="ngModel"
          [(ngModel)]="empresasModelGetId.telefono">
      </div>
      <div class="mb-3">
        <label for="inputdireccion" class="form-label">direccion</label>
        <select class="form-select" aria-label="multiple select example" id="inputdireccion" name="direccion" #direccion="ngModel" [(ngModel)]="empresasModelGetId.direccion">
          <option *ngFor="let departamento of departamentos" [value]="departamento.codigo">{{departamento.nombre}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="inputTipo" class="form-label">Tipo Empresa</label>

        <select (click)="otraOpcion()" class="form-select" aria-label="multiple select example" name="tipoEmpresa" [(ngModel)]="empresasModelGetId.tipoEmpresa">
          <option value="" disabled selected hidden>Selecione Su Tipo De Empresa</option>
          <option *ngFor="let tipo of tipoEmpresas" [value]="tipo.codigo">{{tipo.nombre}}</option>
          <option value="">Otro...</option>
        </select>

        <label for="inputTipo" class="form-label"></label>
        <div *ngIf="nuevaOpcion" class="mb-3">
            <input type="text" class="form-control" name="tipoEmpresa" placeholder="Ingrese su tipo de empresa" [(ngModel)]="empresasModelGetId.tipoEmpresa">
        </div>

      </div>

      <button type="submit" class="btn btn-success" (click)="putEmpresa()" data-bs-dismiss="offcanvas">Editar
        Empresa</button>
    </form>
  </div>
</div>


<!-- OffCanvas Editar Usuario -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar Usuario</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>

      <div class="mb-3">
        <label for="inputnombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputnombre" name="nombre" #nombre="ngModel"
          [(ngModel)]="empresasModelGetId.nombre">
      </div>
      <div class="mb-3">
        <label for="inputemail" class="form-label">email</label>
        <input type="text" class="form-control" id="inputemailr" name="email" #email="ngModel"
          [(ngModel)]="empresasModelGetId.email">
      </div>
      <div class="mb-3">
        <label for="inputtelefono" class="form-label">telefono</label>
        <input type="number" class="form-control" id="inputtelefono" name="telefono" #telefono="ngModel"
          [(ngModel)]="empresasModelGetId.telefono">
      </div>
      <div class="mb-3">
        <label for="inputdireccion" class="form-label">direccion</label>
        <input type="text" class="form-control" id="inputdireccion" name="direccion" #direccion="ngModel"
          [(ngModel)]="empresasModelGetId.direccion">
      </div>
      <button type="submit" class="btn btn-success" (click)="putEmpresa()" data-bs-dismiss="offcanvas">Editar
        Empresa</button>
    </form>
  </div>
</div>
