<app-navbar></app-navbar>

<head>
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="d-flex" id="content-wrapper">

    <div class="w-100">
      <!-- Contenido de la pagina -->

      <div id="content" class="bg-grey w-100">
        <section class="bg-light py-3">
          <div class="container">
            <div class="row">

              <div
              class="h1 text-center text-dark"
              id="pageHeaderTitle"
              *ngIf="_usuarioService.getIdentidad()"
            >
              Bienvenido {{ _usuarioService.getIdentidad().nombre }}
              <p class="lead text-muted">Administra las empresa</p>

            </div>




            </div>
          </div>
        </section>

        <!-- Mostar Sucursales -->

        <section class="bg-mix py-3">

          <!-- Fin Contenido de la pagina -->
        </section>
        <section
        class="light"
        *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_ADMIN'"
      >
        <div class="container py-2" >

          <div
            class="h1 text-center text-dark"
            id="pageHeaderTitle"
            *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_ADMIN'"
          >
            Estas son todas las empresas
          </div>
          <br />


          <div class="col-lg-3 col-md-4 d-flex ">
            <button class="btn btn-primary w-100 align-self-center" routerLink="/registrar">Agregar Empresa</button>
          </div>


          <article class="postcard light green"></article>

          <!--FOR AQUI-->
          <article
            class="postcard light green"
            *ngFor="let em of empresasModelGet"
          >
            <a class="postcard__img_link">
              <img
                class="postcard__img"
                src="https://picsum.photos/500/501"
                alt="Image Title"
              />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title green">
                <a >{{em.nombre}}</a>
              </h1>
              <div class="postcard__subtitle small">
              </div>

              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">
                Telefono:  {{em.telefono}} <br/>
                Direccion: {{em.direccion}} <br/>
                Tipo de Empresa: {{em.tipoEmpresa}}
              </div>
              <ul class="postcard__tagbox">

                <li class="tag__item play green" (click)="eliminarEmpresas(em._id)">
                  <i class="fas fa-clock mr-2"></i>Eliminar Empresa
                </li>
                <li class="tag__item play green" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
                (click)="getEmpresasId(em._id)">
                  <i class="fas fa-clock mr-2"></i>Editar Empresa
                </li>
                <li class="tag__item play green" [routerLink]="['/admin/sucursales/', em._id]"
                >
                  <a><i class="fas fa-play mr-2"></i>Ver Sucursales</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>
      </div>
    </div>


  </div>


</body>

<!-- OffCanvas Editar Producto -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar Usuario</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>

      <div class="mb-3">
        <label for="inputnombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputnombre" name="nombre" #nombre="ngModel"
          [(ngModel)]="empresasModelGetId.nombre">
      </div>
      <div class="mb-3">
        <label for="inputemail" class="form-label">email</label>
        <input type="text" class="form-control" id="inputemailr" name="email" #email="ngModel"
          [(ngModel)]="empresasModelGetId.email">
      </div>
      <div class="mb-3">
        <label for="inputtelefono" class="form-label">telefono</label>
        <input type="number" class="form-control" id="inputtelefono" name="telefono" #telefono="ngModel"
          [(ngModel)]="empresasModelGetId.telefono">
      </div>
      <div class="mb-3">
        <label for="inputdireccion" class="form-label">direccion</label>
        <select class="form-select" aria-label="multiple select example" id="inputdireccion" name="direccion" #direccion="ngModel" [(ngModel)]="empresasModelGetId.direccion">
          <option *ngFor="let departamento of departamentos" [value]="departamento.codigo">{{departamento.nombre}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="inputTipo" class="form-label">Tipo Empresa</label>

        <select (click)="otraOpcion()" class="form-select" aria-label="multiple select example" name="tipoEmpresa" [(ngModel)]="empresasModelGetId.tipoEmpresa">
          <option value="" disabled selected hidden>Selecione Su Tipo De Empresa</option>
          <option *ngFor="let tipo of tipoEmpresas" [value]="tipo.codigo">{{tipo.nombre}}</option>
          <option value="">Otro...</option>
        </select>

        <label for="inputTipo" class="form-label"></label>
        <div *ngIf="nuevaOpcion" class="mb-3">
            <input type="text" class="form-control" name="tipoEmpresa" placeholder="Ingrese su tipo de empresa" [(ngModel)]="empresasModelGetId.tipoEmpresa">
        </div>

      </div>

      <button type="submit" class="btn btn-success" (click)="putEmpresa()" data-bs-dismiss="offcanvas">Editar
        Empresa</button>
    </form>
  </div>
</div>


<!-- OffCanvas Editar Usuario -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar Usuario</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>

      <div class="mb-3">
        <label for="inputnombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputnombre" name="nombre" #nombre="ngModel"
          [(ngModel)]="empresasModelGetId.nombre">
      </div>
      <div class="mb-3">
        <label for="inputemail" class="form-label">email</label>
        <input type="text" class="form-control" id="inputemailr" name="email" #email="ngModel"
          [(ngModel)]="empresasModelGetId.email">
      </div>
      <div class="mb-3">
        <label for="inputtelefono" class="form-label">telefono</label>
        <input type="number" class="form-control" id="inputtelefono" name="telefono" #telefono="ngModel"
          [(ngModel)]="empresasModelGetId.telefono">
      </div>
      <div class="mb-3">
        <label for="inputdireccion" class="form-label">direccion</label>
        <input type="text" class="form-control" id="inputdireccion" name="direccion" #direccion="ngModel"
          [(ngModel)]="empresasModelGetId.direccion">
      </div>
      <button type="submit" class="btn btn-success" (click)="putEmpresa()" data-bs-dismiss="offcanvas">Editar
        Empresa</button>
    </form>
  </div>
</div>
