<head>
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="d-flex" id="content-wrapper">

    <div class="w-100">
      <!-- Contenido de la pagina -->

      <div id="content" class="bg-grey w-100">
        <section class="bg-light py-3">
          <div class="container">
            <div class="row">

              <div class="col-lg-9 col-md-8">
                <h1 class="font-weight-bold mb-0">Bienvenido "$[nombreEmpresa]"</h1>
                <p class="lead text-muted">Revisa tu información detallada</p>
              </div>

              <div class="col-lg-3 col-md-4 d-flex">
                <button class="btn btn-primary w-100 align-self-center" data-bs-toggle="modal"
                  data-bs-target="#ModalAgregarSucursales">Agregar Sucursales</button>
                <button class="btn btn-primary w-100 align-self-center">Descargar reporte</button>
              </div>

            </div>
          </div>
        </section>

        <!--Agregar Sucursales-->
        <div class="modal fade " id="ModalAgregarSucursales" data-bs-backdrop="static" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Agregar Sucursal</h5>
                <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
              </div>
              <div class="modal-body">

                <form>
                  <div class="mg-3">
                    <label for="inputNombre" class="form-label">Nombre</label>
                    <input type="text" id="inputNombre" class="form-control" name="nombre" #nombre="ngModel"
                      [(ngModel)]="sucursalesModelPost.nombre">
                  </div>
                  <div class="mg-3">
                    <label for="inputTelefono" class="form-label">Telefono</label>
                    <input type="text" id="inputTelefono" class="form-control" name="teledono" #telefono="ngModel"
                      [(ngModel)]="sucursalesModelPost.telefono">
                  </div>
                  <div class="mg-3">
                    <label for="inputDireccion" class="form-label">Direccion</label>
                    <input type="text" id="inputDireccion" class="form-control" name="direccion" #direccion="ngModel"
                      [(ngModel)]="sucursalesModelPost.direccion">
                  </div>

                  <div class="mg-3">
                    <label for="inputStock" class="form-label">Stock</label>
                    <input type="text" id="inputStock" class="form-control" name="Stock" #direccion="ngModel"
                      [(ngModel)]="sucursalesModelPost.stock">
                  </div>

                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="close" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn offset" data-bs-dismiss="modal" (click)="postSucursales()">Agregar
                  Sucursales</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Mostar Sucursales -->
        <section class="bg-mix py-3">
          <div class="container">
            <div class="card rounded-0">
              <div class="card-body" *ngFor="let su of sucursalesModelGet">
                <!-- Cifras -->
                <section class="bg-mix py-3">
                  <div class="container">
                    <div class="card rounded-0">
                      <div class="card-body">
                        <div class="row">

                          <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                              <h6 class="text-muted">Nombre</h6>
                              <h3 class="font-weight-bold">{{su.nombre}}</h3>
                            </div>
                          </div>

                          <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                              <h6 class="text-muted">Telefono</h6>
                              <h3 class="font-weight-bold">{{su.telefono}}</h3>
                            </div>
                          </div>

                          <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                              <h6 class="text-muted">Direccion</h6>
                              <h3 class="font-weight-bold">{{su.direccion}}</h3>
                            </div>
                          </div>

                            <div class="col-lg-3 col-md-6 d-flex stat my-3">
                              <div class="mx-auto">
                                <h6 class="text-muted">Stock</h6>
                                <h3 class="font-weight-bold">{{su.stock}}</h3>
                              </div>
                            </div>

                            <div class="col-lg-3 col-md-4 d-flex">
                              <button class="btn btn-primary w-100 align-self-center" (click)="eliminarSucursales(su._id)">Eliminar Sucursal</button>
                            </div>



                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
      <!-- Fin Contenido de la pagina -->
      </section>
    </div>
  </div>


  </div>


</body>
