<app-navbar></app-navbar>

<head>
  <link
    href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>

<body>
  <div class="d-flex" id="content-wrapper">
    <div class="w-100">


      <!-- Mostar Sucursales Admin-->
      <section
        class="light"
        *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_ADMIN'"
      >
        <div class="container py-2">
          <div
            class="h1 text-center text-dark"
            id="pageHeaderTitle"
            *ngIf="_usuarioService.getIdentidad()"
          >
            Bienvenido {{ _usuarioService.getIdentidad().nombre }}
          </div>

        </div>
        <section
        class="light"
        *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_ADMIN'"
      >
        <div class="container py-2" >
          <div
            class="h1 text-center text-dark"
            id="pageHeaderTitle"*ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_EMPRESA'">
            Revisá tus Sucursales
          </div>

          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 d-flex">
                <button
                  class="btn btn-primary w-100 align-self-center"
                  data-bs-toggle="modal"
                  *ngIf="token &&_usuarioService.getIdentidad().rol === 'ROL_EMPRESA'" data-bs-target="#ModalAgregarSucursales">
                  Agregar Sucursales
                </button>
              </div>
            </div>
          </div>

          <div
            class="h1 text-center text-dark"
            id="pageHeaderTitle"
            *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_ADMIN'"
          >
            Comenzemos a vizualizar Sucursales!
          </div>
          <br />

          <article class="postcard light green"></article>

          <!--FOR AQUI-->
          <article
            class="postcard light green"
            *ngFor="let su of sucursalesModelGet"
          >
            <a class="postcard__img_link">
              <img
                class="postcard__img"
                src="https://picsum.photos/500/501"
                alt="Image Title"
              />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title green">
                <a >{{su.nombre}}</a>
              </h1>
              <div class="postcard__subtitle small">
              </div>

              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">
                <i class="bi bi-telephone-forward"> Telefono:  {{su.telefono}}</i> <br/>
                <i class="bi bi-geo-alt"> Direccion: {{su.direccion}}</i>
              </div>

            </div>
          </article>
        </div>
      </section>

      </section>


      <!-- Mostar Informacion Usuario-->
      <section
        class="light"
        *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_EMPRESA'"
      >
        <div class="container py-2">
          <div
            class="h1 text-center text-dark"
            id="pageHeaderTitle"
            *ngIf="_usuarioService.getIdentidad()"
          >
            Bienvenido {{ _usuarioService.getIdentidad().nombre }}
          </div>

          <article class="postcard light blue">
            <a class="postcard__img_link" >
              <img
                class="postcard__img"
                src="https://picsum.photos/501/500"
                alt="Image Title"
              />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue">
                <a
                  >Empresa:
                  {{ _usuarioService.getIdentidad().nombre }}</a
                >
              </h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="bi bi-envelope mr-2"></i>
                   {{ _usuarioService.getIdentidad().email }}
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">
                <i class="bi bi-telephone-forward"> Telefono: {{ _usuarioService.getIdentidad().telefono }}</i> <br />
                <i class="bi bi-geo-alt"> Direccion: {{ _usuarioService.getIdentidad().direccion }}</i> <br />
                <i class="bi bi-building"> Tipo Empresa: {{ _usuarioService.getIdentidad().tipoEmpresa }}</i>
              </div>
              <ul class="postcard__tagbox">
                <li class="tag__item play ligth blue" routerLink="/usuario/productos">
                  <i class="bi bi-bag-plus"></i> Agregar Productos A Mi Empresa
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>

      <!--Mostrar informacion sucursales-->
      <section
        class="light"
        *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_EMPRESA'">
        <div class="container py-2" >
          <div
            class="h1 text-center text-dark"
            id="pageHeaderTitle"*ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_EMPRESA'">
            Revisá tus Sucursales
          </div>

          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 d-flex">
                <button
                  class="btn btn-primary w-100 align-self-center bi bi-plus-square-fill"
                  data-bs-toggle="modal"
                  *ngIf="token &&_usuarioService.getIdentidad().rol === 'ROL_EMPRESA'" data-bs-target="#ModalAgregarSucursales">
                   Agregar Sucursales
                </button>
              </div>
            </div>
          </div>

          <div
            class="h1 text-center text-dark"
            id="pageHeaderTitle"
            *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_ADMIN'"
          >
            Comenzemos a vizualizar!
          </div>
          <br />

          <article class="postcard light green"></article>

          <!--FOR AQUI-->
          <article
            class="postcard light green"
            *ngFor="let su of sucursalesModelGet"
          >
            <a class="postcard__img_link" >
              <img
                class="postcard__img"
                src="https://picsum.photos/500/501"
                alt="Image Title"
              />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title green">
                <a >{{su.nombre}}</a>
              </h1>
              <div class="postcard__subtitle small">
              </div>

              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">
                <i class="bi bi-telephone-forward"> Telefono:  {{su.telefono}}</i> <br/>
                <i class="bi bi-geo-alt"> {{su.direccion}}</i>
              </div>
              <ul class="postcard__tagbox">
                <li class="tag__item play green" (click)="getSucursalesId(su._id)"
                [routerLink]="['/usuario/productosSucursales', su._id]">
                  <span class="bi bi-shop-window mr-2" ></span> Administrar productos sucursal
                </li>
                <li class="tag__item play green" (click)="eliminarSucursales(su._id)">
                  <i class="bi bi-trash3 mr-2"></i> Eliminar Sucursal
                </li>
                <li class="tag__item play green" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
                (click)="getSucursalesId(su._id)">
                  <i class="bi bi-pencil-square mr-2"></i> Editar Sucursal
                </li>
                <li class="tag__item play green" data-bs-toggle="modal"
                data-bs-target="#ModalEnviarProducto" (click)="getSucursalesId(su._id)">
                  <a><i class="bi bi-truck mr-2"></i> Enviar
                    Producto</a>
                </li>
                <li class="tag__item play green" (click)="getSucursalesId(su._id)"
                [routerLink]="['/usuario/graficas', su._id]">
                  <a ><i class="bi bi-pie-chart-fill mr-2"></i> Ver grafica</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>

  <!-- OffCanvas Editar Sucursal-->
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">
        Editar Sucursal
      </h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <form>
        <div class="mb-3">
          <label for="inputnombre" class="form-label">Nombre Sucursal</label>
          <input
            type="text"
            class="form-control"
            id="inputnombre"
            name="nombre"
            #nombre="ngModel"
            [(ngModel)]="sucursalesModelGetId.nombre"
          />
        </div>
        <div class="mb-3">
          <label for="inputtelefono" class="form-label">Telefono</label>
          <input
            type="text"
            class="form-control"
            id="inputtelefono"
            name="telefono"
            #telefono="ngModel"
            [(ngModel)]="sucursalesModelGetId.telefono"
          />
        </div>
        <div class="mb-3">
          <!--Aqui select-->
          <label for="inputdireccion" class="form-label">Direccion</label>
          <select class="form-select" aria-label="multiple select example" id="Dire" name="direccion" #direccion="ngModel"
            [(ngModel)]="sucursalesModelGetId.direccion">
              <option value="" disabled selected hidden>Selecione un Municipio</option>
              <option *ngFor="let departamento of departamentos" [value]="departamento.codigo">
                {{departamento.nombre}}</option>
            </select>
        </div>
        <button
          type="submit"
          class="btn btn-success"
          (click)="putSucursales()"
          data-bs-dismiss="offcanvas"
        >
          Editar Sucursales
        </button>
      </form>
    </div>
  </div>

  <!-- Agregar Sucursal-->
  <div
    *ngIf="token && _usuarioService.getIdentidad().rol === 'ROL_EMPRESA'"
    class="modal fade"
    id="ModalAgregarSucursales"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Agregar Sucursal</h5>
          <button
            type="button"
            class="close btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >

          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mg-3">
              <label for="inputNombre" class="form-label">Nombre</label>
              <input
                type="text"
                id="inputNombre"
                class="form-control"
                name="nombre"
                #nombre="ngModel"
                [(ngModel)]="sucursalesModelPost.nombre"
              />
            </div>
            <div class="mg-3">
              <label for="inputTelefono" class="form-label">Telefono</label>
              <input
                type="text"
                id="inputTelefono"
                class="form-control"
                name="telefono"
                #telefono="ngModel"
                [(ngModel)]="sucursalesModelPost.telefono"
              />
            </div>
            <div class="mg-3">
              <label for="inputDireccion" class="form-label">Direccion</label>

              <select
                class="form-select"
                aria-label="multiple select example"
                id="inputDireccion"
                class="form-control"
                name="direccion"
                #direccion="ngModel"
                [(ngModel)]="sucursalesModelPost.direccion"
              >
                <option value="" disabled selected hidden>
                  Selecione un Municipio
                </option>
                <option
                  *ngFor="let departamento of departamentos"
                  [value]="departamento.codigo"
                >
                  {{ departamento.nombre }}
                </option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="close" data-bs-dismiss="modal">
            Cerrar
          </button>
          <button
            type="button"
            class="btn offset"
            data-bs-dismiss="modal"
            (click)="postSucursales()"
          >
            Agregar Sucursales
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Enviar productos a Sucursales-->
  <div class="modal fade " id="ModalEnviarProducto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Enviar Producto</h5>
        <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="mg-3">
            <label for="inputNombreProductoSucursal" class="form-label">Nombre Producto</label>

            <select class="form-select" aria-label="multiple select example" id="inputNombreProductoSucursal"
              class="form-control" name="NombreProductoSucursal" #NombreProductoSucursal="ngModel"
              [(ngModel)]="productoModelPost.NombreProductoSucursal">

              <option *ngFor="let su of productosModelGet" [value]="su.NombreProducto">{{su.NombreProducto}}</option>

            </select>

          </div>
          <div class="mg-3">
            <label for="inputStockSurcursal" class="form-label">Stock</label>
            <input type="number" id="inputStockSurcursal" class="form-control" name="StockSurcursal"
              #StockSurcursal="ngModel" [(ngModel)]="productoModelPost.StockSurcursal">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn offset" data-bs-dismiss="modal" (click)="putProductosSucursal()">Enviar
          Productos</button>
      </div>
    </div>
  </div>
</div>
</body>
