<app-navbar></app-navbar>

<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
          width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
          class="font-weight-bold">{{user.nombre}}</span><span class="text-black-50">{{user.email}}</span><span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6"><label class="labels">Name</label><input [(ngModel)]="user.nombre" name = "name" type="text"
              class="form-control" placeholder="first name" value=""></div>
          <div class="col-md-6"><label class="labels">Email</label><input [(ngModel)]="user.email" name = "apellido" type="text"
              class="form-control" value="" placeholder="surname"></div>
        </div>
        <div class="row mt-3">


          <div class="col-md-12">
            <label class="labels">Direccion</label>

            <select [(ngModel)]="user.direccion" name = "direccion" type="text" class="form-control" placeholder="enter email id" value="">
              <option *ngFor="let departamento of departamentos" [value]="departamento.codigo">{{departamento.nombre}}</option>
            </select>

            </div>


          <div class="col-md-12">
            <label class="labels">Telefono</label><input [(ngModel)]="user.telefono" name="telefono" type="text" class="form-control" placeholder="enter email id" value="">
          </div>

          <div class="col-md-12">

            <label class="labels">Tipo de Empresa</label>
            <select (click)="otraOpcion()" class="form-select" aria-label="multiple select example" name="tipoEmpresa" [(ngModel)]="user.tipoEmpresa">
              <option value="" disabled selected hidden>Selecione Su Tipo De Empresa</option>
              <option *ngFor="let tipo of tipoEmpresas" [value]="tipo.codigo">{{tipo.nombre}}</option>
              <option value="">Otro...</option>
            </select>

            <div *ngIf="nuevaOpcion" class="col-md-12">
                <input type="text" class="form-control" name="tipoEmpresa" placeholder="Ingrese su tipo de empresa" [(ngModel)]="user.tipoEmpresa">
            </div>

          </div>

        </div>
        <div class="mt-5 text-center"><button (click)="updateUser()" class="btn btn-primary profile-button" type="button">Save Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
