
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-10 col-xs-12"> </div>

      <div class="col-md-6 col-sm-12 col-xs-12">

        <div class="container-form">

          <form>
            <h2>Registro de Empresa</h2>
            <div class="mb-3">
              <label for="NombreUsuario" class="form-label">Nombre de Empresa</label>
              <input type="text" class="form-control" id="NombreUsuario" placeholder="Ingresar Su Nombre De Usuario" name="nombre" #nombre="ngModel"
              [(ngModel)]="usuarioModelPost.nombre">
            </div>
            <div class="mb-3">
              <label for="TipoEm" class="form-label">Tipo de Empresa</label>
              <input type="text" class="form-control" id="TipoEm" placeholder="Ingresar el tipo de empresa" name="tipoEmpresa" #tipoEmpresa="ngModel"
              [(ngModel)]="usuarioModelPost.tipoEmpresa">
            </div>
            <div class="mb-3">
              <label for="Dire" class="form-label">Direccion</label>
              <input type="text" class="form-control" id="Dire" placeholder="Ingresar la direccion" name="Dire" #Dire="ngModel"
              [(ngModel)]="usuarioModelPost.direccion">
            </div>

            <div class="mb-3">
              <label for="Tel" class="form-label">Telefono</label>
              <input type="number" class="form-control" id="Tel" placeholder="Ingresar el Telefono" name="tel" #tel="ngModel"
              [(ngModel)]="usuarioModelPost.telefono">
            </div>
            <div class="mb-3">
              <label for="Email1" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Ingresar Su Correo" name="email" #email="ngModel"
              [(ngModel)]="usuarioModelPost.email">
              <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
            </div>
            <div class="mb-3">
              <label for="password1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password1" placeholder="Ingrese su Contraseña" name="password" #password="ngModel"
              [(ngModel)]="usuarioModelPost.password">
            </div>

              <p>Estoy de acuerdo con <a routerLink="/registrar">Terminos y Condiciones</a></p>
              <a routerLink="/login">
                <input type="button" value="Registrarse" (click)="postRegistarEmpresa()">
            </a>
          </form>
          <p><a routerLink="/login" >¿Ya tengo Cuenta?</a></p>

        </div>

      </div>


      <div class="col-md-4 col-sm-4 col-xs-12"> </div>
    </div>



  </div>
