


.container-fluid{
  background: linear-gradient(10deg,#a2bcec,#fff);
  width: 100%;
  height: 100vh ;

}


@media (max-height: 946px){

  .container-fluid{
    background: linear-gradient(10deg,#7a9ddf,#fff);
    width: 100%;
    height: 100% ;

  }
}


@media (min-height: 1180px){

  .container-fluid{
    background: linear-gradient(10deg,#628cda,#fff);
    width: 100%;
    height: 100vh ;
  }
}

@media (max-width: 1366px){

  .container-fluid{
    background: linear-gradient(10deg,#4f83e4,#fff);
    width: 100%;
    height: 100% ;
  }
}

@media (min-width: 1815px){

  .container-fluid{
    background: linear-gradient(10deg,#164fb9,#fff);
    width: 100%;
    height: 100vh ;
  }
}



.container-form {
  border-radius: 30px;
  background: rgb(255 255 255 / 0.8);
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'calibri';
  color: #607d8b;
  box-shadow: 1px 1px 20px #000;

}

.container-form .form-control{

  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;

}

.container-form .form-select{


  border-radius: 30px;

}

 input[type="button"]{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #0b0a72;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  background: #637be7;
  border-radius: 30px;
}

 input[type="button"]:hover{
  background: transparent;
  color: #637be7;
}

p {
  height: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: #607d8b;
}

p a{

  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: #ff4584;
}

 a {
  color: #ff4584;
  text-decoration: none;
}

.container-form a:hover {
  color: #1f53c5;
  text-decoration: underline;
}
